* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fffaf5;
    color: #333;
}

.navbar {
    background: #8b0000;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1,
.navbar a {
    color: #fff;
    text-decoration: none;
}


.hero {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("images/cusine.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: #fff;
    margin-top: 20px;
}

.hero h2 {
    font-size: 48px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    background: #ffb703;
    font-weight: bold;
    cursor: pointer;
}

/* ABOUT */
.about {
    padding: 70px;
    text-align: center;
}

.about h2 {
    color: #8b0000;
    font-size: 36px;
}

/* MENU */
.menu {
    padding: 70px;
    background: #fff;
}

.menu h2 {
    text-align: center;
    color: #8b0000;
    font-size: 36px;
    margin-bottom: 40px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.menu-card {
    background: #fffaf5;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    overflow: hidden;
    text-align: center;
    padding: 15px

}

.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-card h3 {
    margin: 15px 0 5px;
    color: #8b0000;
}

.menu-card p {
    padding-bottom: 15px;
}

/* CTA */
.cta {
    background: #8b0000;
    color: #fff;
    padding: 60px;
    text-align: center;
}

.cta button {
    margin-top: 15px;
    padding: 12px 30px;
    background: #ffb703;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
}
